name: FreeBSD Rust version

on:
  # To run manually workflow
  workflow_dispatch:

  # Schedule workflow
  schedule:
    - cron: "0 11,23 * * *"

env:
  FREEBSD_VERSION: '15.0'

permissions:
  contents: write

jobs:
  rust-version:
    name: Get FreeBSD Rust version
    runs-on: ubuntu-latest
    timeout-minutes: 90

    steps:
    - uses: actions/checkout@v6

    - name: Get FreeBSD Rust version
      id: get-rust-version
      uses: cross-platform-actions/action@v0.32.0
      with:
        operating_system: freebsd
        version: ${{ env.FREEBSD_VERSION }}
        shell: sh
        sync_files: true
        run: |
          set -e

          echo "## OS infos"
          uname -a

          echo "## Install Rust toolchain"
          export CARGO_TERM_COLOR=always
          curl https://sh.rustup.rs -sSf --output rustup.sh
          sh rustup.sh -y --profile=minimal -t stable
          . "${HOME}"/.cargo/env
          rm rustup.sh

          printf "\n"
          echo "## Rust infos"
          rustc -vV
          printf "\n"
          echo "## cargo infos"
          cargo -vV

          # Compare Rust versions
          printf "\n"
          echo "## Compare Rust versions"
          REF_VERSION=$(grep -E "^rustc" freebsd_rust_version.txt | cut -d" " -f2)
          RUST_VERSION=$(rustc -vV | grep -E "^rustc" | cut -d" " -f2)

          echo "REF_VERSION = ${REF_VERSION}"
          echo "RUST_VERSION = ${RUST_VERSION}"

          if [ "$REF_VERSION" == "$RUST_VERSION" ]; then
            echo "SAME_VERSION=true" >> "$GITHUB_ENV"
          else
            echo "SAME_VERSION=false" >> "$GITHUB_ENV"
            rustc -vV > freebsd_rust_version.txt
          fi
          echo "RUST_VERSION=${RUST_VERSION}" >> "$GITHUB_ENV"

    - name: Dump FreeBSD Rust version
      id: dump-version
      run: |
        echo "Rust version = $RUST_VERSION"
        if $SAME_VERSION; then
          echo "No need to commit new Rust version"
          echo "**Current Rust version:** $RUST_VERSION on FreeBSD ${{ env.FREEBSD_VERSION }}" >> $GITHUB_STEP_SUMMARY
        else
          echo "Rust version changed => need to commit it"
          echo "**New Rust version:** $RUST_VERSION on FreeBSD ${{ env.FREEBSD_VERSION }}" >> $GITHUB_STEP_SUMMARY
        fi
        printf "\n"
        cat freebsd_rust_version.txt

    - name: Commit FreeBSD Rust version
      id: commit-version
      if: env.SAME_VERSION == 'false'
      uses: EndBug/add-and-commit@v9
      with:
        add: freebsd_rust_version.txt
        default_author: github_actions
        message: "Update for FreeBSD Rust version ${{ env.RUST_VERSION }}\n\nAutomatic commit by job '${{ github.job }}' - run #${{ github.run_number }}\n"
        tag: ${{ env.RUST_VERSION }}
