name: FreeBSD Rust version

on:
  # To run manually workflow
  workflow_dispatch:

  # Schedule workflow
  schedule:
    - cron: "0 11,23 * * *"

env:
  FREEBSD_VERSION: '15.0'

permissions:
  contents: write

jobs:
  rust-version:
    name: Get FreeBSD Rust version
    runs-on: ubuntu-latest
    timeout-minutes: 90

    steps:
    - uses: actions/checkout@v6

    - name: Get FreeBSD Rust version
      id: get-rust-version
      uses: cross-platform-actions/action@v0.32.0
      with:
        operating_system: freebsd
        version: ${{ env.FREEBSD_VERSION }}
        shell: sh
        sync_files: true
        run: |
          set -e
          sh get_freebsd_rust_version.sh

    - name: Dump FreeBSD Rust version
      id: dump-version
      run: |
        echo "Rust version = $RUST_VERSION"
        if $SAME_VERSION; then
          echo "No need to commit new Rust version"
          echo "**Current Rust version:** $RUST_VERSION on FreeBSD ${{ env.FREEBSD_VERSION }}" >> $GITHUB_STEP_SUMMARY
        else
          echo "Rust version changed => need to commit it"
          echo "**New Rust version:** $RUST_VERSION on FreeBSD ${{ env.FREEBSD_VERSION }}" >> $GITHUB_STEP_SUMMARY
        fi
        printf "\n"
        cat freebsd_rust_version.txt

    - name: Commit FreeBSD Rust version
      id: commit-version
      if: env.SAME_VERSION == 'false'
      uses: EndBug/add-and-commit@v9
      with:
        add: freebsd_rust_version.txt
        default_author: github_actions
        message: "Update for FreeBSD Rust version ${{ env.RUST_VERSION }}\n\nAutomatic commit by job '${{ github.job }}' - run #${{ github.run_number }}\n"
        tag: ${{ env.RUST_VERSION }}
